<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <ul class="navbar-nav abs-center-x">
        <li class="navitem">
          <a href="{% url 'main:index' %}" class="nav-link">
            На сайт
          </a>  
        </li>
        <li class="navitem">
          <a href="{% url 'admin:index' %}" class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
            Пользователи
          </a>  
        </li>
        <li class="navitem">
          <a href="{% url 'admin:categories' %}" 
            class="nav-link {% if request.resolver_match.url_name == 'categories' or objects.0.category.name %}active{% endif %}">
            Категории{% if objects.0.category %}: {{ objects.0.category.name|capfirst }}{% endif %}
          </a>  
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-link text-light">
            <span class="text-warning">Пользователь: </span><span class="font-weight-bold">{{ user.username }}</span>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-link text-success">
            Панель администратора
        </li>
      </ul>
  </nav>
</header>