<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <ul class="navbar-nav abs-center-x">
        {% for key, val in menu.items %}
          <li class="navitem">
            <a href="{% url key %}" class="nav-link {% if request.resolver_match.url_name == key %}active{% endif %}">{{ val }}</a>
          </li>
        {% endfor %}
      </ul>
      
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="navitem">
            <a href="{% url 'auth:edit' %}" class="nav-link">{{ user.first_name|default:'Пользователь' }}</a>
          </li>
        {% endif %}
        <li class="navitem">
          {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}" class="nav-link">Выйти</a>
          {% else %}
            <a href="{% url 'auth:login' %}" class="nav-link">Войти</a>
          {% endif %}
        </li>
      </ul>
  </nav>
</header>