{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
  {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock menu %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-center">{{ product.name|capfirst }}</h1>
          <br>
          <img class="rounded mx-auto d-block" src="/media/{{ product.image }}" alt="{{ product.short_description }}">
          <br>
          <p class="text-center">{{ product.full_description }}</p>
          <br>
          <ul class="list-group text-right">
            <li class="list-group-item list-group-item-light"><span class="float-left contact-header"><strong>Категория</strong></span>{{ product.category.name|capfirst }}</li>
            <li class="list-group-item list-group-item-success"><span class="float-left contact-header"><strong>Цена</strong></span>{{ product.price|floatformat:0 }}</li>
            <li class="list-group-item list-group-item-light">
              <span class="float-left contact-header"><strong>Наличие</strong></span>
              {% if product.stock > 0 %}Есть{% else %}Нет{% endif %}
            </li>
          </ul>
          {% if product.stock > 0 %}
            <br>
            <div class="text-center">
              <a href="{% url 'basket:add' product.pk %}">
                <button class="btn btn-primary">В корзину</button>
              </a>
            </div>
          {% endif %}
        </div>
        <div class="col-md-3"></div>
      </div><!--row-->
    </div><!--container-->
  </div><!--album-->
{% endblock content %}