{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
  Продукция
{% endblock title %}

{% block menu %}
  {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock menu %}

{% block heading %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Продукция</h1>
      <p class="lead text-muted">Выбрать, изучить и приобрести понравившиеся электронные картины современных художников</p>
    </div>
  </section>
{% endblock heading %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{% static 'img/products/big/1_big.jpg' %}" target="_blank" rel="noopener noreferrer"><img class="card-img-top" src="{% static 'img/products/small/1_small.jpg' %}" alt="Отдых на пляже"></a>
            <div class="card-body">
              <p class="card-text">Отдых на пляже</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                <small class="text-muted">5000 &#8381;</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{% static 'img/products/big/2_big.jpg' %}" target="_blank" rel="noopener noreferrer"><img class="card-img-top" src="{% static 'img/products/small/2_small.jpg' %}" alt="Торжество жизни"></a>
            <div class="card-body">
              <p class="card-text">Торжество жизни</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                <small class="text-muted">10000 &#8381;</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{% static 'img/products/big/3_big.jpg' %}" target="_blank" rel="noopener noreferrer"><img class="card-img-top" src="{% static 'img/products/small/3_small.jpg' %}" alt="Прогулка на исходе дня"></a>
            <div class="card-body">Прогулка на исходе дня</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                <small class="text-muted">15000 &#8381;</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{% static 'img/products/big/4_big.jpg' %}" target="_blank" rel="noopener noreferrer"><img class="card-img-top" src="{% static 'img/products/small/4_small.jpg' %}" alt="Домик у моря"></a>
            <div class="card-body">
              <p class="card-text">Домик у моря</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                <small class="text-muted">5000 &#8381;</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{% static 'img/products/big/5_big.jpg' %}" target="_blank" rel="noopener noreferrer"><img class="card-img-top" src="{% static 'img/products/small/5_small.jpg' %}" alt="Жизнь на воде"></a>
            <div class="card-body">
              <p class="card-text">Жизнь на воде</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                <small class="text-muted">10000 &#8381;</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{% static 'img/products/big/6_big.jpg' %}" target="_blank" rel="noopener noreferrer"><img class="card-img-top" src="{% static 'img/products/small/6_small.jpg' %}" alt="Накануне шторма"></a>
            <div class="card-body">Накануне шторма</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                <small class="text-muted">15000 &#8381;</small>
              </div>
            </div>
          </div>
        </div>
      
      </div><!--row-->
    </div><!--container-->
  </div><!--album-->
{% endblock content %}
